p{
    width: 100px;
    position: relative;
    top: 100px;
}

div{
    height: 10px;
    width: 100%;
    background-color: rgba(22, 0, 221, 1);
    color: aliceblue;
    padding: 1%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}